# - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# How to create python environment via virutualenv(venv)  #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - #

# - - - - - - - - - - - - - - -#
# Activate existed environment #
# - - - - - - - - - - - - - - -#
#
# - For Linux
#    $ cd [project dir]
#    $ python -m venv [newEnvName]
#    $ . [newEnvName]/bin/activate
#
# - For Windows
#    $ cd [project dir]
#    $ py -m virtualenv [newEnvName]
#    $ .\[newEnvName]\Scripts\activate
#
# - Run command if deactivation.
#    $ deactivate

# - - - - - - - - - -#
# Create environment #
# - - - - - - - - - -#
#
# 1. Move to direcotry
#    $ cd [project dir]
#
# 2. Create environment
#  - For Linux
#    $ python -m venv [newEnvName]
#  - For Windows
#    $ py -m virtualenv [newEnvName]
#
# 3. Activate environment
#  - For Linux
#    $ . [newEnvName]/bin/activate
#  - For Windows
#    $ .\[newEnvName]\Scripts\activate
#
# 4. Install library
#    $ pip install -r requiremnets.txt

# References
# - Example requiremnets file
#  - https://pip.pypa.io/en/latest/reference/pip_install/#example-requirements-file


# - - - - - - - - - - - - - - - #
#            Library            #
# - - - - - - - - - - - - - - - #

# ----------- Basic libraries
pip
setuptools
neovim
python-language-server

numpy
pandas
Pillow
matplotlib
jupyterlab
flask


# ----- Image Processing
opencv-python

# ----- Sound Processing
# Note : pydub depend on FFmpeg.
# Note : pyaudio requires portaudio19-dev
librosa
sox
pydub
pyaudio
pyroomacoustics

# ----- Machine Learning
# torch===1.7.0+cu110
# torchaudio===0.7.0
# torchvision===0.8.1+cu110
# -f https://download.pytorch.org/whl/torch_stable.html

